/* CDN Link: 

https://rawgit.com/Jmackas/CDN/master/test.css

*/

h1 {
  color: green;
  background: red;
}

h2 {
  color: aqua;
  background: gray;
}

.testclass {
 color: green; 
}
