/*******************
Universal Elements
*******************/
.jEnt {
	font-family: calibri;
}

h2 {
	background: #dedede;
}

.jEnt header {
	border-bottom: 1px dashed lightblue;
}

.jEnt pre {
	display: inline;
	color: blue;
}

.jEnt img {
	width: 100%;
}


.navPaletteTitle {
    background: #191919 !important;
}