/********************************
Universal Element Changes
*********************************/





/********************************
Index Page
*********************************/
/* Main Header Title Size */
div#jsn-pos-promo h3 {
    font-size: xx-large;
    margin: 15px 0 0 0;
}

div#jsn-pos-promo .jsn-moduletitle span {
    line-height: 1.4em;
}

