/***********************
General Changes
************************/
/* Size of Page */
#jsn-page {
    width: 90%;
}

/* Video forced 100% width */
video {
    width: 100%;
}

/* Menu item sub items */

span.jsn-menu-toggle + ul .parent li a:before {
    content: '-->';
}


/* Background */
#jsn-master {
    background: #136fd2;
}

div.jsn-hasright #jsn-content_inner2 {
    background: #E5E5E5;
}

#jsn-menu {
    background: #808080;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    border: 1px solid rgba(0,0,0,0);
    border-bottom: none;
    border-top: none;
}

div.jsn-modulecontainer ul.menu-mainmenu >li >a {
    border-right: none;
    color: white;
}

div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
    border-top-color: rgba(0,0,0,0);
    background-color: #5d5d5d;
}

div.jsn-modulecontainer ul.menu-mainmenu ul li > a {
    border-top-color: #808080;
    background-color: #808080;
}

div.jsn-modulecontainer ul.menu-mainmenu ul li.active > a {
    border-top-color: #232323;
    background-color: #232323;
}

/* Buttons */
.loginBtn, .loginBtn:hover:active .selectBtn:hover .leftBtn, .btn-primary {
    -webkit-box-shadow: initial;
    box-shadow: initial;
    background-color: grey;
    border: initial;
    background-image: initial;
    background-image: initial;
    background-image: initial;
    background-image: initial;
}

.leftBtn {
    padding: 13px;
}

.rightBtn {
    padding: 13px;
}

/* Center element styling */
.centerElement {
    margin: auto;
    text-align: center;
}

/* Header Module */
#jsn-content-top {
    background: #595959;
    border-bottom: none;
}

/* Article */
.jsn-joomla-30 .page-header {
    border: initial;
}

/* Right Menu */
div#jsn-rightsidecontent li {
    list-style-type: none;
    margin: 0 0 0 0;
    transition: .4s ease-in-out;
}

div#jsn-rightsidecontent li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #595959;
}

div#jsn-rightsidecontent li:hover {
    background: rgba(19, 111, 210, 0.35);
    color: white;
}

/* Footer */
div#jsn-footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

/*******************
Index Page
*******************/
/* Top Slideshow */
.topSlideshow {
	background-image:url(https://jmackas.github.io/library_indexing/pages/slideshow_contents/1.jpg);
    height: 400px;
}

/* Styling of search box */
.highedInd input, .highedInd .btn-primary {
    border-radius: 0;
}

/* Styling of library options */
.libColl {
    display: flex;
    justify-content: center;
}

.b1, .b2, .b3, .b4, .b5 {
    background: white;
    float: left;
    width: 16.3em;
    margin: 0 2px 0 2px;
    border: 2px solid lightblue;
    text-align: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .4s ease-in-out;
}

.b1 {
    background-image: url('http://i.imgur.com/Hab55LH.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b2 {
    background-image: url('http://i.imgur.com/FkMBxi9.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b3 {
    background-image: url('http://i.imgur.com/wQaNxR6.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b4 {
    background-image: url('http://i.imgur.com/l54lpET.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b5 {
    background-image: url('http://i.imgur.com/Dl0DFmS.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b1 a, .b2 a, .b3 a, .b4 a, .b5 a {
    display: block;
    padding: 50px 0 50px 0;
    color: black;
    text-decoration: none;
}

.b1:hover, .b2:hover, .b3:hover, .b4:hover, .b5:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

@media only screen and (max-width: 658px) {
    .libColl {
        display: initial;
        justify-content: initial;
    }

    .b1, .b2, .b3, .b4, .b5 {
        width: 100%;
        margin: -3px 0 10px 0;
        padding: 0;
        border: none;
        border-top: 1px solid lightblue;
        border-bottom: 1px solid lightblue;
    }
}

/******************
Knovel Page
*******************/
.knovelBanner {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 658px) {
    .knovelBanner {
        display: none;
    }
}

/* Video Thumbnail */
.videoThumb {
    border: 1px solid grey;
    overflow: auto;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.08);
}


.videoThumb img {
	float: left;
}

.videoThumb p {
    padding: 0 0 0 12px;
    float: left;
    font-size: 20px;
}
