/******************
Universal
******************/
/* Home page header image */
.header-homepage.color-overlay {
    background-image: url('elements/header-image.jpg') !important;
}

/* Odd colour divider */
.oddSplit {
    background: #060138;
}

/* Even colour divider */
.evenSplit {
    background: rgba(0,0,0,0);
}


/******************
Front Page
******************/
/* Encapsulating front page styling */
.frontPage {
    padding: 2%;
}
