/******************
Universal
******************/
/* Universal colour targeting */
*, .comment-author .fn, h1, h1.title, h2, h3, h4, h5, h6 {
    color: black;
}

/* Home page header image */
.header-homepage.color-overlay {
    background-image: url('elements/header-image.jpg') !important;
}

/* General blue button hover styling */
a.button.big.color1.round:hover {
    background: rgba(0,0,0,0);
}

/* Top left logo */
.logo_col.col-xs.col-sm-fit {
    transition: 0.4s;
}

/* Top left logo zoom in on hover */
.logo_col.col-xs.col-sm-fit:hover {
    transform: scale(1.05); 
}

/* General opaque button hover styling */
a.button.big.color-white.round.outline:hover {
    background: white;
    color: black;
}

/* Read more button styling */
.readMoreButton {
    background: white;
    padding: 15px;
    border: 1px solid #03a9f4;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

/* Read more button hover styling */
.readMoreButton:hover {
    background: #03a9f4;
    color: white;
}

/* Ellipses after the text */
.readMoreButton:after {
    content: '...';    
}

/* H2 styling */
h2 {
    border-bottom: 1px solid #88888830;
}

/* List styling */
ul {
    line-height: 200%;
}

/******************
 Front Page
******************/
/* Amalgamated colour dividers */
.oddSplit, .evenSplit {
    padding: 7% 15%;
}

/* Odd colour divider */
.oddSplit {
    background: #060138;
    color: white;
}

/* Odd colour divider H2 */
.oddSplit h2 {
    color: white;
}

/* Form labels styled */
.oddSplit label {
    color: white;
    font-weight: bold;
}

/* Even colour divider */
.evenSplit {
    background: rgba(0,0,0,0);
    color: black;
}

/* Even colour divider H2 */
.evenSplit h2, .evenSplit h3 {
    color: black;
}

/* About us image */
.evenSplit img {
    width: 326px; 
    float: left; 
    margin: 0 33px 4px 0;
}

/* Media query */
@media only screen and (max-width: 767px) {
    /* About us image */
    .evenSplit img {
        float: initial;
        margin: initial;
    }

    /* Lists when text is aligned centrally */
    li {
        border-bottom: 1px dashed #00000014;
        list-style-type: none;
    }
}

/******************
About Us Page
******************/



/******************
Hacky code
******************/
/* Hiding the footer text */
p.copyright {
    display: none;
}