/******************
Universal
******************/
/* Home page header image */
.header-homepage.color-overlay {
    background-image: url('elements/header-image.jpg') !important;
}

/* H2 styling */
h2 {
    border-bottom: 1px solid #88888830;
}

/* List styling */
ul {
    line-height: 200%;
}

/******************
 Front Page
******************/
/* Amalgamated colour dividers */
.oddSplit, .evenSplit {
    padding: 3% 15%;
}

/* Odd colour divider */
.oddSplit {
    background: #060138;
    color: white;
}

/* Odd colour divider H2 */
.oddSplit h2 {
    color: white;
}

/* Even colour divider */
.evenSplit {
    background: rgba(0,0,0,0);
    color: black;
}

/* Even colour divider H2 */
.evenSplit h2, .evenSplit h3 {
    color: black;
}