/********************
Universal
********************/
/* Universally assigned elements */
* {
    font-family: ubuntu;
}


/* Article padding */
.frontPage, .aboutPage, .contactPage {
    padding: 0 8%;
}

/* H2 styling */
h2 {
    font-size: 300%;
    margin: 3% 0 0 0;
    color: #333;
}

/* H3 styling */
h3 {
    padding: 0;
    margin: 0;
}

/* Dot points normalised */
ul {
    margin-left: 20px;
}

/********************
Header
********************/
/* Header padding */
.site-branding {
    font-size: 100%;
}

/* Header title font size */
.site-title a {
    font-size: 150%;
}