/***********************
Universal Elements
***********************/
.copyright {
    display: none;
}

/* Background image */
div#content {
    background: url(http://i.imgur.com/Onc5kz1.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Header contact info removsal */
ul.header-info-links {
	visibility: hidden;
}

.header-top {
	background: rgb(255,255,255);
}


/* Header colour */
.header-bottom {
	/* background-color: #ffffff; */
}


/* Pushed the image slider higher */
.metaslider.metaslider-flex.metaslider-380.ml-slider {
    margin: -60px 0 0 0 !important;
}

@media only screen and (max-width: 762px) {
    .metaslider.metaslider-flex.metaslider-380.ml-slider {
		margin: initial !important;
	}
}

/* News Marquee */
.mtphr-dnt-wrapper.mtphr-dnt-clearfix {
    color: white;
    font-size: 130%;
    font-weight: bold;
    padding: 10px;
    background: #4a5b8f;
    font-family: helvetica;
}

/***********************
Front Page
***********************/
.frontPage .topBlurb {
    text-align: center;
    font-size: x-large;
    margin: 10% 0 10% 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.frontPage .text {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5% 0 5% 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.frontPage hr {
	border: 1px solid rgba(211, 211, 211, 0.38);
}

.frontPage .text h3 {
    margin: 0;
}

.frontPage .text p {
    margin: 1% 0 0 0;
}

.frontPage .text .blockDis {
    display: block;
    padding: 5px;
}

.frontPage .hexagon {
    float: left;
    padding: 5px 15px 5px 0;
}

.frontPage .hexagon img {
	width: 800px;
}

.frontPage .opacityOne {
	background: rgba(255,255,255,0.8);
}

@media only screen and (max-width: 762px) {
    .hexagon {
        display: none;
    }

    .frontPage .text {
        border: none;
        margin: 0 0 5% 0;
        padding: 5px 15px 5px 0;
    }
}

/***********************
Contact Page
***********************/
/* Send Button */
input#nf-field-16 {
    padding: 20px 30px;
    background: #e2e2e2;
    border: none;
}

input#nf-field-16:hover {
    background: rgb(204, 204, 204);
}

@media only screen and (max-width: 400px) {
    input#nf-field-16 {
		width: 100%;
	}
}
