/* Use Wordpress CSS as the primary CSS style. The offline one is just a backup */

/***********************
Front Page
***********************/

.text {
	border-top: 1px dashed rgba(92, 154, 193, 0.54);
	border-bottom: 1px dashed rgba(92, 154, 193, 0.54);
	float: left;
	display: flex;
	align-items: center;
	/* justify-content: center; */
}

.text h3 {
	margin: 0;
}

.text p {
	margin: 1% 0 0 0;
}

.text div {
	display: block;
}

.hexagon {
	width: 20%;
	float: left;
	padding: 5px 15px 5px 0;
}

@media only screen and (max-width: 762px) {
    .hexagon {
       display: none;
    }
	
	.text {
		border: none;
	}
}

