/* Use Wordpress CSS as the primary CSS style. The offline one is just a backup */

/***********************
Front Page
***********************/

.text {
	border-top: 1px solid #4a8aba;
	border-bottom: 1px solid #4a8aba;
	float: left;

	
}

.text p {}

.hexagon {
	width: 20%;
	float: left;
	padding: 10px 15px 10px 0;
}



