/*************
Front Page
*************/
.jbbox-shadow {
    box-shadow: initial;
}

.usergroup-table .userrole {
	transition: all 1s ease 0s;
    border-radius: initial;
    box-shadow: initial;
}

.userrole-name.text-center {
   background: initial;
}

.userrole-name.text-center h2 {
	color: black;
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	border-bottom: 1px dashed #e3e3e3;
}
