/*******************************************
Universal Elements
*******************************************/
/* Primary Button */
.btn-primary {
    background: #136fd2;
    border-radius: initial;
    box-shadow: initial;
    transition: .3s ease-in-out;
}

.btn-primary:hover {
    background: #0d4581;
}

/*******************************************
Front Page
*******************************************/
/* Top box */
.jbbox-shadow {
    box-shadow: initial;
}

/* 'Mentee' and 'Investor' boxes */
.usergroup-table .userrole {
    border-radius: initial;
    box-shadow: initial;
	 color: white;
}

.userrole-name.text-center {
    background: initial;
}

.userrole-name.text-center h2 {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dashed #e3e3e3;
    text-shadow: 1px 1px 1px black;
    font-size: 260%;
}

.span6.well.well-small.white.userrole {
    background-color: rgb(86, 86, 86);
    background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
   
}
