/* http://eitidc.com/rd/ */

/*******************************************
Universal Elements
*******************************************/
/* Primary Button */
.btn-primary {
    background: #136fd2;
    border-radius: initial;
    box-shadow: initial;
    transition: .3s ease-in-out;
}

/* Footer padding reduced */
#jsn-footer #jsn-footermodules {
    padding: 10px;
}

/*******************************************
Front Page
*******************************************/
/* Top box removal of shadow */
.jbbox-shadow {
    box-shadow: initial;
    border-radius: initial;
}

/* Mentee/nvestor boxes */
.usergroup-table .userrole {
    border-radius: initial;
    box-shadow: initial;
	 color: white;
}

/* Mentee/Investor removal of awkward white line */
.usergroup-table .userrole hr {
	visibility: hidden;
}

/* Mentee/Investor removal of header backround */
.userrole-name.text-center {
    background: initial;
}

/* Mentee/Investor top title styling */
.userrole-name.text-center h2 {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dashed #e3e3e3;
    text-shadow: 1px 1px 1px black;
    font-size: 260%;
}

/* Mentee.Investor smaller header coloured white */
.span6.well.well-small.white.userrole h3 {
    color: white;
}

/* Mentee/Investor background styling */
.span6.well.well-small.white.userrole {
    background-color: black;
    background-image: url('https://i.imgur.com/lFaMeH4.jpg');
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    transition: .2s ease-in-out;
}

/* Mentee/Investor zoom in effect */
.span6.well.well-small.white.userrole:hover {
    transform: scale(1.02);
}

/*******************************************
Contact Us
*******************************************/
/* Map overflow issue fix */
.overflowAuto {
    overflow: auto;
}

/* Map pushed to left */
.overflowAuto iframe {
    float: left;
    margin: 0 20px 0 0;
}

/* Removal of visible dot points */
.overflowAuto ul {
    float: left;
    list-style-type: none;
    margin: -6px 0 0 -23px;
}

/* Page look in mobile */
@media only screen and (max-width: 1128px) {
    .overflowAuto iframe {
        float: initial;
    }

    .overflowAuto {
        text-align: center;
        margin: 0;
    }

    .overflowAuto ul {
        float: initial;
    }

    .contactPage li {
        list-style: none;
    }
}

/*******************************************
Buy subscription plan
*******************************************/
/* Remove the space above the 'Starter' plan */
.pricing.comparison ul {
    margin: 0 0 0 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}