/********************
Universal
********************/
/* Header size increase */
nav#site-navigation {
    padding: 30px;
}

/* Waterseal image size maximum */
.logo {
    max-height: 100%;
}







/********************
Home Page
********************/

/* Filter of top header image */
.parallax-window.fullscreen {
background: rgba(0, 82, 123, 0.89);
}








/********************
Website colours amendment
********************/
