/* 
########################################################################
General Fixes
#########################################################################
*/

/* Parallax header image */
.page-header.header-filter {
    width: 100%;
    background-size: cover;
    min-height: 614px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 500px) {
	.page-header.header-filter {
		text-align: initial;
    width: initial;
    min-height: initial;
    background-attachment: initial;
    background-position: initial;
    background-repeat: initial;
	}
}

/* Removal of main header raised */
.main-raised {
	margin: 0;
	border-radius: 0px;
	-webkit-box-shadow: initial;
	box-shadow: initial;
}

/* Addition of logo on top menu */
a.navbar-brand::before {
    content: url(https://imgtc.com/i/JbpdkeM.png);
}

