/****************
General Fixes
****************/

/* Div that centres elements via flex */
.centerElement {
	display: flex;
	justify-content: center;
}

/* Parallax header image */
.page-header.header-filter {
    width: 100%;
    background-size: cover;
    min-height: 614px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.dropdown-menu {
    min-width: 100%;
}

@media only screen and (max-width: 500px) {
    .page-header.header-filter {
        text-align: initial;
        width: initial;
        min-height: initial;
        background-attachment: initial;
        background-position: initial;
        background-repeat: initial;
    }
}

/* Removal of Copyright */
.copyright.pull-right {
    display: none;
}

/* Removal of main header raised */
.main-raised {
    margin: 0;
    border-radius: 0px;
    -webkit-box-shadow: initial;
    box-shadow: initial;
}

/* Addition of logo on top menu */
a.navbar-brand::before {
    content: url(https://imgtc.com/i/JbpdkeM.png);
}

.navbar .navbar-brand h1, .navbar .navbar-brand p {
    margin: 4px 0 0 11px;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        display: flex;
    }
}

@media (max-width: 768px) {
    a.navbar-brand::before {
        content: initial;
    }
}

.sec1, .sec3 {
    background: aqua;
}

.sec2 {
    background: lightgray;
}

/****************
Index Page
****************/
.contactInfo h4 {
    font-weight: bold;
}

.contactInfo a {
    text-decoration: underline;
    color: white;
}




/****************
Packages Page
****************/




/****************
/website-services
****************/
.websiteServices a {
    color: black;
}

.pDeals1, .pDeals2, .pDeals3, .pDeals4, .pDeals5 {
    border: 1px solid lightblue;
    padding: 10px;
    margin: 0 3px 6px 3px;
    border-radius: 3px;
    float: left;
    width: 48%;
    min-height: 377px;
    transition: .4s ease-in-out;
}

@media only screen and (max-width: 644px) {
    .pDeals1, .pDeals2, .pDeals3, .pDeals4, .pDeals5 {
        float: initial;
        width: 100%;
    }
}

.pDeals1:hover {
    background: #00b7bc;
}

.pDeals2:hover {
    background: #0055d3;
}

.pDeals3:hover {
    background: linear-gradient(to bottom right, #003f9b, black);
}

.pDeals4:hover {
    background: #002966;
}

.pDeals5:hover {
   background: #ca9800;
}

.pDeals1:hover, .pDeals2:hover, .pDeals3:hover, .pDeals4:hover, .pDeals5:hover {
    border: 1px solid rgba(0,0,0,0);
    color: white;
}

.websiteServices h3 {
    margin: 0 0 10px 0;
}

.websiteServices .combo {
    width: 97%;
    margin: 0 0 0 2px;
    text-align: center;
}

@media only screen and (max-width: 644px) {
    .websiteServices .combo {
        width: 100%;
        text-align: initial;
    }
}


/****************
Woocommerce elements
/***************/
.woocommerce ul.products li.product a img {
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
}

/* Woocommerce header shadow change */
header.woocommerce-products-header {
    box-shadow: 
	0 16px 38px -12px rgba(0, 0, 0, 0.56), 
	0 4px 25px 0 rgba(0, 0, 0, 0.12), 
	0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
