/***************************
Universal Elements
***************************/
/* Header */

#idchead {
    background: #1c6eb8;
}

/* Top Menu */
#jsn-menu {
    background: #808080;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    border: initial;
}

div.jsn-modulecontainer ul.menu-mainmenu >li >a {
    border-right: none;
    color: white;
}

div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
    border-top-color: rgba(0,0,0,0);
    background-color: #5d5d5d;
}

div.jsn-modulecontainer ul.menu-mainmenu ul li > a {
    border-top-color: #808080;
    background-color: #808080;
}

div.jsn-modulecontainer ul.menu-mainmenu ul li.active > a {
    border-top-color: #232323;
    background-color: #232323;
}

/* Richbox-1 */
div.richbox-1 div.jsn-modulecontainer_inner {
    background: #6e6e6e;
    border: initial;
}

/* Richbox-2 */
div.richbox-2 div.jsn-modulecontainer_inner {
	background: #1c6eb8;
    
}

/* Login button */
.ial-select:before, .loginBtn, .loginBtn:hover:active, .selectBtn:hover .leftBtn {
    background: #1c6eb8;
	box-shadow: none;
}

.ial-select:hover:before, .loginBtn:hover, .selectBtn:hover .rightBtn {
	background: rgb(82, 139, 191);
}

/* Index Page */

