/* Header */
#idchead {
    background: #1c6eb8;
}

/* Top Menu */
#jsn-menu {
    background: #808080;
    -webkit-box-shadow: initial;
            box-shadow: initial;
    border: initial;
}

div.jsn-modulecontainer ul.menu-mainmenu >li >a {
    border-right: none;
    color: white;
}

div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
    border-top-color: rgba(0,0,0,0);
    background-color: #838383;
}

div.jsn-modulecontainer ul.menu-mainmenu ul li > a {
    border-top-color: #4c4c4c;
    background-color: #4c4c4c;
}

div.jsn-modulecontainer ul.menu-mainmenu ul li.active > a {
    border-top-color: #232323;
    background-color: #232323;
}

/* Richbox-1 */
div.richbox-1 div.jsn-modulecontainer_inner {
    background: #6e6e6e;
    border: initial;
}

/* Richbox-2 */
div.richbox-2 div.jsn-modulecontainer_inner {
	background: #1c6eb8;
    
}