body {
    /* font-family: calibri; */
    /* border-left: 1px solid lightgray; */
    /* border-right: 1px solid lightgray; */
    /* padding: 10px; */
    /* background: lightgray; */
}

h1,h2,h3,h4,h5,h6 {
    margin: 1%;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 260%;
}

h3 {
    font-size: 220%;
}

h4 {
    font-size: 180%;
}

h5 {
    font-size: 140%;
}

h6 {
    font-size: 100%;
}
