/* Encapsulating entire page */ 
.eitFrontPage {
    display: flex;
}

/* All hyperlinks in page styled */
.eitFrontPage a{
    display: block;
    width: 100%;
    width: calc(100% / 6);
    color: white;
    font-size: 140%;
}

/* All course top modules styles */
.masters, .bachelors, .graduateCert, .advDip, .diploma, .profCert {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-size: cover;
}

.masters {
    background-image: url('https://github.com/Jmackas/CDN/blob/master/eit_frontpage_transition/elements/image1.jpg?raw=true');
}

.bachelors {
    background-image: url('https://github.com/Jmackas/CDN/blob/master/eit_frontpage_transition/elements/image2.jpg?raw=true');
}

.graduateCert {
    background-image: url('https://github.com/Jmackas/CDN/blob/master/eit_frontpage_transition/elements/image3.jpg?raw=true');
}

.advDip {
    background-image: url('https://github.com/Jmackas/CDN/blob/master/eit_frontpage_transition/elements/image4.jpg?raw=true');
}

.diploma {
    background-image: url('https://github.com/Jmackas/CDN/blob/master/eit_frontpage_transition/elements/image5.jpg?raw=true');
}

.profCert {
    background-image: url('https://github.com/Jmackas/CDN/blob/master/eit_frontpage_transition/elements/image6.jpg?raw=true');
}