.eitFrontPage {
    display: flex;
}

.eitFrontPage a{
    display: block;
    width: 100%;
    width: calc(100% / 6);
}

.masters, .bachelors, .graduateCert, .advDip, .diploma, .profCert {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

